Pract4.2/catalogo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- Enumeració de gèneres -->
  <xs:simpleType name="GenereType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Música clásica"/>
      <xs:enumeration value="Jazz"/>
      <xs:enumeration value="Blues"/>
      <xs:enumeration value="Góspel"/>
      <xs:enumeration value="Soul"/>
      <xs:enumeration value="Pop"/>
      <xs:enumeration value="Rock and Roll"/>
      <xs:enumeration value="Country"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Enumeració sexe membre -->
  <xs:simpleType name="SexeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="home"/>
      <xs:enumeration value="dona"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Element membre -->
  <xs:element name="membre">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="nom" type="xs:string"/>
      </xs:sequence>
      <xs:attribute name="sexe" type="SexeType" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- Elements simples -->
  <xs:element name="titol" type="xs:string"/>
  <xs:element name="descripcio" type="xs:string"/>
  <xs:element name="pais" type="xs:string"/>
  <xs:element name="idioma" type="xs:string"/>
  <xs:element name="grup" type="xs:string"/>
  <xs:element name="genere" type="GenereType"/>
  <xs:element name="durada" type="xs:decimal"/>
  <xs:element name="numero_canco" type="xs:integer"/>
  <xs:element name="titol_canco" type="xs:string"/>
  <xs:element name="durada_canco" type="xs:decimal"/>

  <!-- Canço dins d'album -->
  <xs:element name="canco">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="titol_canco"/>
        <xs:element ref="durada_canco"/>
      </xs:sequence>
      <xs:attribute name="numero" type="xs:integer" use="required"/>
    </xs:complexType>
  </xs:element>

  <!-- Titols de cançons d'un album -->
  <xs:element name="titols_cancos">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="canco" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <!-- Membres d'un grup -->
  <xs:element name="membres">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="membre" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>


  <xs:element name="single">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="titol"/>
        <xs:element ref="descripcio" minOccurs="0"/>
        <xs:element ref="pais"/>
        <xs:element ref="idioma"/>
        <xs:element ref="genere" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="grup"/>
        <xs:element ref="membres"/>
        <xs:element ref="durada"/>
      </xs:sequence>
      <xs:attribute name="codi" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>


  <xs:element name="album">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="titol"/>
        <xs:element ref="descripcio" minOccurs="0"/>
        <xs:element ref="pais"/>
        <xs:element ref="idioma"/>
        <xs:element ref="genere" minOccurs="0" maxOccurs="unbounded"/>
        <xs:element ref="grup"/>
        <xs:element ref="membres"/>
        <xs:element ref="numero_canco"/>
        <xs:element ref="titols_cancos"/>
      </xs:sequence>
      <xs:attribute name="codi" type="xs:string" use="required"/>
    </xs:complexType>
  </xs:element>
  
  <xs:element name="cataleg">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element ref="single"/>
          <xs:element ref="album"/>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
